
 h1{
    margin: 30px 0;
    padding: 0;
    font-family: Inter, serif;
     font-weight: bold;
     color: var(--font-color);
    font-size: 224px;
    display: flex;
     justify-content: center;
     align-items: center;
     border-top: 1px solid var(--font-color);
     border-bottom: 1px solid var(--font-color);
     line-height: 250px;
 }
 .abouttheauthor{
     color: black;  display: flex; justify-content: flex-end; margin-right: 70px; margin-top: -50px
 }
body.dark-mode .header {
    background-color: var(--background-color); /* Dark mode navbar color */
}
 body.dark-mode .abouttheauthor {
     color: var(--while-color); /* Dark mode navbar color */
 }
body.dark-mode h1 {
    color: #ffffff; /* Light color for login link in dark mode */
}


 @media (max-width: 1024px) {
     h1 {
         font-size: 180px; /* Reduce font size */
         line-height: 190px; /* Adjust line height */
         border-top: 1px solid var(--font-color); /* Retain border */
         border-bottom: 1px solid var(--font-color);
     }
 }

 /* Responsive styling for small screens (e.g., phones) */
 @media (max-width: 768px) {
     h1 {
         font-size: 120px; /* Further reduce font size */
         line-height: 130px; /* Adjust line height */
         margin: 20px 0; /* Decrease margin */
         border-top: none; /* Remove top border */
         border-bottom: none; /* Remove bottom border */
     }
 }

 /* Responsive styling for extra-small screens */
 @media (max-width: 576px) {
     h1 {
         font-size: 60px; /* Smaller font size for tiny screens */
         line-height: 90px; /* Adjust line height */
         /*margin: 10px 0; !* Smaller margin *!*/
         margin-right: 30px;
     }
     .abouttheauthor{
         font-size: 12px;
         margin-top: -20px;
         margin-right: 50px;
     }
 }
